APP_NAME=Smart-Exim
APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_URL=https://your-app.koyeb.app

DB_CONNECTION=sqlite

SESSION_DRIVER=database
CACHE_STORE=database
QUEUE_CONNECTION=database

LOG_CHANNEL=stderr
